:root {
    --color-primary: #F5E3CD;
    --color-secondary: #FEF3E7;
    --color-secondary2: #fcf7f2;
    --color-tertiary: #9E5B08;
    --color-tertiary2: #ccab82;
    --color-text: #703803;
    --color-border: #7038034d;
    --color-border2: #703803a8;


    --color-text2: #502803;

}

/* ===== Global Styles ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;

}

html,
body {
    width: 100%;
    overflow-x: hidden;

    /* Prevent sideways scroll */
}

/* Stable custom scrollbar */
body::-webkit-scrollbar {
    width: 5px;
    /* stays consistent even at browser zoom */
}

body::-webkit-scrollbar-track {
    background: #d3cec9;
}

/* Optional gradient tips */
body::-webkit-scrollbar-track-piece:start {
    background: linear-gradient(to bottom, #d3cec9 70%, transparent);
}

body::-webkit-scrollbar-track-piece:end {
    background: linear-gradient(to top, #d3cec9 70%, transparent);
}

/* Thumb styling (recommended) */
body::-webkit-scrollbar-thumb {
    background: #a39e98;
    border-radius: 10px;
}

.authentication-main-container {
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    background: linear-gradient(to bottom right,
            #fff7ea,
            #e7cfa4);


}




.authentication-logo-container {
    width: 100%;
    padding: 2rem 5% 2rem 4%;
    display: flex;
    gap: 0.25rem;
    height: 140px;
}

.authentication-logo-wrapper {
    width: 80px;
    height: 50px;
    display: flex;
    overflow: hidden;
}

.authentication-logo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.authentication-logo-text {
    height: 50px;
}

.authentication-logo-text h3 {
    color: var(--color-text);
    font-size: 1.5rem;
    margin: 0%;
}

.authentication-logo-text h5 {
    color: var(--color-text);
    font-size: .9rem;
}

.go-home {
    padding: 1rem;
}

.go-home a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 500;
    position: relative;
    padding: 0.3rem 0;
    transition: all 0.3s ease;
    letter-spacing: -.025rem;
    font-size: .9rem;
}

.go-home a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: var(--color-tertiary);
    transition: width 0.3s ease;
}

.go-home a:hover::after {
    width: 100%;
}


/* ===================== forgot password container ===================== */
.forgot-password-forms-main-container {
    height: calc(100vh - 240px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.forgot-password-form-wrapper {
    width: 500px;
    height: 500px;


    background-color: var(--color-primary);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-left: 2px solid var(--color-border);
    border-top: 2px solid var(--color-border);
}

.forgot-password-form-inner h3 {
    color: var(--color-text);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: .2rem;
}

.forgot-password-form-inner h5 {
    text-align: center;
    color: var(--color-tertiary);
    font-size: 1rem;
}

.forgot-password-container {
    padding: 1rem;
}

.forgot-password-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: .9rem;

}

.forgot-password-wrapper label {
    color: var(--color-text);
    font-size: .8rem;
    padding-bottom: .3rem;

}

.forgot-password-wrapper input::placeholder {
    font-size: .9rem;
}

.forgot-password-wrapper input:focus {

    box-shadow: 0 0 0 1px var(--color-text);
}

.forgot-password-wrapper input {
    width: 100%;
    padding: .5rem;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color .2s ease, box-shadow .2s ease;
    font-size: .8rem;
}




.password-field {
    position: relative;
}

.password-field input {
    padding-right: 2.5rem;
    /* space for eye */
}





.forgot-password-button {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.forgot-password-button button {
    width: 100%;
    border-radius: 10px;
    padding: .4rem;
    background-color: var(--color-border2);
    color: var(--color-secondary2);
    border: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
    text-align: center;
}

.forgot-password-button i {
    color: var(--color-secondary2);
}

.forgot-password-button button:hover {
    transform: translateY(-2px);
}

.back-to-sign-in-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: .5rem;
}

.back-to-sign-in-wrapper a {
    color: var(--color-text);
    font-size: .9rem;
    font-weight: 600;
    text-decoration: none;
}

.back-to-sign-in-wrapper p {
    color: var(--color-text);
    font-size: .9rem;
}

.back-to-sign-in-wrapper a:hover {
    text-decoration: underline;
}

.forgot-password-forms {
    position: relative;


    width: 100%;
}





.forgot-password-wrapper-verification {
    width: 100%;
    display: flex;

}

.forgot-password-wrapper-verification h6 {
    padding: .2rem 0 0 0;
    color: var(--color-text);
    font-size: .8rem;
}

.forgot-password-wrapper-verification button {
    width: 100px;
    padding: .1rem;
    font-size: .8rem;
    color: var(--color-border2);
    border-radius: 5px;
    border: 1px solid var(--color-border2);
    margin-left: auto;

}

.forgot-password {

    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.forgot-password button {
    width: 100px;
}

#timerText {
    color: var(--color-text);
    padding: .2rem 0 0 0;
    font-size: .8rem;
    display: none;
}



/* ===================== Switch from Forgot Password to Reset ===================== */
.forgot-password-forms {
    position: relative;
    width: 100%;
}

/* Both forms */
.reset-password-form-container {
    position: absolute;
    inset: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;

}

.forgot-password-forms-main-container {
    position: absolute;
    inset: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;

}

/* Sign-In visible by default */
#forgotPassword {
    transform: translateX(0);
    opacity: 1;
    z-index: 2;
}

/* Sign-Up hidden by default */
#resetPassword {
    transform: translateX(100%);
    opacity: 0;
    z-index: 1;
}

/* When active (show sign-up) */
.forgot-password-forms.show-reset #forgotPassword {
    transform: translateX(-100%);
    opacity: 0;
}

.forgot-password-forms.show-reset #resetPassword {
    transform: translateX(0);
    opacity: 1;
    z-index: 2;
}

/* ===================== Reset Password ===================== */
.reset-password-form-container {
    height: calc(100vh - 240px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-password-form-wrapper {
    width: 500px;
    height: 500px;

    background-color: var(--color-primary);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-left: 2px solid var(--color-border);
    border-top: 2px solid var(--color-border);
}

.reset-password-inner h3 {
    color: var(--color-text);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: .2rem;
}

.reset-password-inner h5 {
    text-align: center;
    color: var(--color-tertiary);
    font-size: 1rem;
}

.reset-password-container {
    padding: 1rem;
}

.reset-password-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: .9rem;

}

.reset-password-wrapper label {
    color: var(--color-text);
    font-size: .8rem;
    padding-bottom: .3rem;

}

.reset-password-wrapper input::placeholder {
    font-size: .9rem;
}

.reset-password-wrapper input:focus {

    box-shadow: 0 0 0 1px var(--color-text);
}

.reset-password-wrapper input {
    width: 100%;
    padding: .5rem;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color .2s ease, box-shadow .2s ease;
    font-size: .8rem;
}


.password-field {
    position: relative;
}

.password-field input {
    padding-right: 2.5rem;
    /* space for eye */
}



.input-with-icon {
    position: relative;
}

.input-with-icon input {
    width: 100%;
    padding: 0.6rem 2.5rem 0.6rem 2.2rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.input-with-icon i {
    color: var(--color-border2);

}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    pointer-events: none;
}

/* Eye icon */
.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--color-tertiary);
}

.toggle-password:hover {
    color: var(--color-text);
}




.continue-button {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.continue-button button {
    width: 100%;
    border-radius: 10px;
    padding: .4rem;
    background-color: var(--color-border2);
    color: var(--color-secondary2);
    border: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
    text-align: center;
}

.continue-button i {
    color: var(--color-secondary2);
}

.continue-button button:hover {
    transform: translateY(-2px);
}

.back-to-sign-in-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: .5rem;
}

.back-to-sign-in-wrapper a {
    color: var(--color-text);
    font-size: .9rem;
    font-weight: 600;
    text-decoration: none;
}

.back-to-sign-in-wrapper p {
    color: var(--color-text);
    font-size: .9rem;
}

.back-to-sign-in-wrapper a:hover {
    text-decoration: underline;
}

.forgot-password-forms {
    position: relative;


    width: 100%;
}


.forgot-password-button {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.forgot-password-button a {
    width: 100%;
    border-radius: 10px;
    padding: .4rem;
    background-color: var(--color-border2);
    color: var(--color-secondary2);
    border: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
    text-decoration: none;
}

.forgot-password-button i {
    color: var(--color-secondary2);
}

.forgot-password-button a:hover {
    transform: translateY(-2px);
}


.password-hints {

    font-size: 0.8rem;
    padding-bottom: 0.5rem;

}

.hint {
    color: #6c757d;
    transition: color 0.3s ease;
}

.hint.valid {
    color: #198754;
    /* Bootstrap success */
}

.confirm-password-msg {

    font-size: 0.75rem;
    margin-top: 4px;
    color: #dc3545;
    /* Bootstrap danger */

}

.confirm-password-msg.valid {
    color: #198754;
    /* success */
}

#resetPasswordHints {
    display: none;
}




@media screen and (max-width: 768px) {
    .authentication-logo-text h3 {
        padding-top: .2rem;
        font-size: 1.2rem;
    }

    .go-home a {
        font-size: .8rem;
    }
}

@media screen and (max-width: 576px) {

    .forgot-password-form-inner-text h3,
    .reset-password-inner h3 {
        font-size: 1.5rem;
    }

    .forgot-password-form-inner-text h5,
    .reset-password-inner h5 {
        font-size: 1rem;
    }

}

@media screen and (max-width: 520px) {

    .forgot-password-form-wrapper,
    .reset-password-form-wrapper {
        width: 400px;
    }
}

@media screen and (max-width: 475px) {
    .forgot-password-form-wrapper {
        width: 400px;
        height: auto;
    }

    .reset-password-form-wrapper {
        width: 400px;
    }

    .go-home span {
        display: none;
    }

}

@media screen and (max-width: 425px) {
    .authentication-logo-text h3 {
        padding-top: .2rem;
        font-size: 1rem;
    }

    .go-home span,
    .sign-up-wrapper-text span {
        display: none;
    }

    .go-home a {
        font-size: .9rem;
    }

    .forgot-password-form-wrapper {
        width: 350px;
        height: auto;
    }

    .forgot-password-container {
        padding: .5rem .1rem .2rem !important;
    }

    .forgot-password-form-inner-text h3,
    .reset-password-inner h3 {
        font-size: 1.25rem;
    }

    .forgot-password-form-inner-text h5,
    .reset-password-inner h5 {
        font-size: .9rem;
        line-height: 1.25;
    }

    .forgot-password-wrapper label,
     .reset-password-wrapper label{
        font-size: .8rem;
    }

    .back-to-sign-in-wrapper p,
    .back-to-sign-in-wrapper a {
        font-size: .8rem;
    }

    .forgot-password-button a,
    .continue-button button {
        font-size: .9rem;
    }

    .forgot-password-button i,
    .continue-button i {
        font-size: .9rem;
    }

    .forgot-password button span {
        display: none;
    }

    .forgot-password-wrapper-verification {
        padding-top: .3rem;
    }

    .forgot-password-button {
        padding-top: 1rem;
    }

    .back-to-sign-in-wrapper {
        padding-top: 1.2rem;
    }

    .back-to-sign-in-wrapper span {
        display: none;
    }



    .reset-password-form-wrapper {
        width: 350px;
    }

    .reset-password-form-wrapper {
        padding: 2rem 1rem .5rem !important;
    }
}

@media screen and (max-width:375px) {
    .authentication-logo-text h3 {
        font-size: 1rem;

    }

    .authentication-logo-text h5 {
        font-size: .9rem;
    }

    .go-home a {
        font-size: .9rem;
    }

    .forgot-password-form-wrapper {
        width: 290px;
        height: auto;
    }
    

    .forgot-password-container {
        padding: .5rem .1rem .2rem !important;
    }

    .forgot-password-form-inner-text h3,
    .reset-password-inner h3 {
        font-size: 1.1rem;
    }

    .forgot-password-form-inner-text h5,
    .reset-password-inner {
        font-size: .8rem;
    }

    .forgot-password-wrapper label,
     .reset-password-wrapper label{
        font-size: .7rem;
    }

    .back-to-sign-in-wrapper p,
    .back-to-sign-in-wrapper a {
        font-size: .9rem;
    }

    .forgot-password-wrapper-verification h6 {
        font-size: .8rem;
    }

    .forgot-password-button button {
        font-size: .8rem;


    }

    .forgot-password button span {
        display: none;
    }

    .forgot-password-wrapper-verification {
        padding-top: .3rem;
    }

    .forgot-password-wrapper-verification h6 {
        font-size: .7rem;
    }

    .forgot-password-button {
        padding-top: 1.6rem;
    }

    .back-to-sign-in-wrapper {
        padding-top: 1.2rem;
    }

    .back-to-sign-in-wrapper p {
        font-size: .8rem;
    }

    .back-to-sign-in-wrapper a {
        font-size: .8rem;
    }

    .back-to-sign-in-wrapper span {
        display: none;
    }

    .reset-password-form-wrapper{
        width: 290px;
    }
}